
@{
    ViewBag.Title = "IPAdmin";
    Layout = "~/Areas/MedicalInsurance/Views/Shared/_Layout.cshtml";
}

<div class="p-t-30">
    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title"><strong>IP Approvals</strong></h4>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Doctor Name</th>
                            <th>Reported Date</th>
                            <th>Hospital Code / Name</th>
                            <th>Reason for Admission</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h6><a>Ashwin</a></h6>
                                <div>TCS-114542021-000-001</div>
                            </td>
                            <td>Dr. Dinesh Nayak</td>
                            <td>14 Nov 2019 <span class="d-block text-info">10.00 AM</span></td>
                            <td>
                                <h6><a>Fortis Hospital</a></h6>
                                <div>FH00234</div>
                            </td>
                            <td>Bike Accident</td>
                            <td>
                                <button type="button" class="btn btn-rounded btn-success btn-sm" name="button">Approve</button>
                                <button type="button" class="btn btn-rounded btn-sm btn-danger">Reject</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6><a>Mark Bernad</a></h6>
                                <div>TCS-114552021-000-001</div>
                            </td>
                            <td>
                                <h6 class="table-avatar"><a>Dr. Ruby Perrin</a></h6>
                            </td>
                            <td>13 Jan 2021 <span class="d-block text-info">10.00 AM</span></td>
                            <td>
                                <h6><a>Apollo Hospital</a></h6>
                                <div>AH00124</div>
                            </td>
                            <td>Heart Surgery</td>
                            <td>
                                <button type="button" class="btn btn-rounded btn-success btn-sm" name="button">Approve</button>
                                <button type="button" class="btn btn-rounded btn-sm btn-danger">Reject</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6><a>Ashwin</a></h6>
                                <div>TCS-114542021-000-001</div>
                            </td>
                            <td>
                                <h6 class="table-avatar"><a>Dr. Mahesh</a></h6>
                            </td>
                            <td>14 Apr 2021 <span class="d-block text-info">10.00 AM</span></td>
                            <td>
                                <h6><a>Malar Hospital</a></h6>
                                <div>AH00124</div>
                            </td>
                            <td>Brain Damage</td>
                            <td>
                                <button type="button" class="btn btn-rounded btn-success btn-sm" name="button">Approve</button>
                                <button type="button" class="btn btn-rounded btn-sm btn-danger">Reject</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6><a>Vignesh</a></h6>
                                <div>TCS-11245555-000-001</div>
                            </td>
                            <td>
                                <h6 class="table-avatar"><a>Dr. Ganesh</a></h6>
                            </td>
                            <td>14 Apr 2021 <span class="d-block text-info">10.00 AM</span></td>
                            <td>
                                <h6><a>Vasan Hospital</a></h6>
                                <div>VH00124</div>
                            </td>
                            <td>Echo Scan</td>
                            <td>
                                <button type="button" class="btn btn-rounded btn-success btn-sm" name="button">Approve</button>
                                <button type="button" class="btn btn-rounded btn-sm btn-danger">Reject</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6><a>Saravanan</a></h6>
                                <div>TCS-131232-000-001</div>
                            </td>
                            <td>
                                <h6 class="table-avatar"><a>Dr. Mahesh</a></h6>
                            </td>
                            <td>14 Apr 2021 <span class="d-block text-info">10.00 AM</span></td>
                            <td>
                                <h6><a>Cresent Clinic</a></h6>
                                <div>CC00124</div>
                            </td>
                            <td>Ultrasound Scan</td>
                            <td>
                                <button type="button" class="btn btn-rounded btn-success btn-sm" name="button">Approve</button>
                                <button type="button" class="btn btn-rounded btn-sm btn-danger">Reject</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6><a>Kiran</a></h6>
                                <div>TCS-24576876-000-001</div>
                            </td>
                            <td>
                                <h6 class="table-avatar"><a>Dr. Mahesh</a></h6>
                            </td>
                            <td>14 Apr 2021 <span class="d-block text-info">10.00 AM</span></td>
                            <td>
                                <h6><a>Rajiv Gandhi Hospital</a></h6>
                                <div>RG00124</div>
                            </td>
                            <td>Hair Treatment</td>
                            <td>
                                <button type="button" class="btn btn-rounded btn-success btn-sm" name="button">Approve</button>
                                <button type="button" class="btn btn-rounded btn-sm btn-danger">Reject</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

