
<div class="row">
    <div class="col-md-12">
        <!-- Step wizard -->
        <div class="box box-default">
            <!-- /.box-header -->
            <div class="box-header">
                <h3 class="box-title">Masters</h3>
            </div>
            <div class="box-body wizard-content">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">

                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="avatar">
                                            <span class="avatar-title bg-primary-bright text-primary rounded-pill">
                                                <i class="fa fa-building-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="font-weight-bold ml-1 font-size-20 ml-3">Insurance Company Master</div>
                                </div>
                                <p class="mb-0"><a href="/InsuranceCompany/Index" class="link-1">Click here to add single or bulk of Insurance Company to the database.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">

                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="avatar">
                                            <span class="avatar-title bg-primary-bright text-primary rounded-pill">
                                                <i class="fa fa-handshake-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="font-weight-bold ml-1 font-size-20 ml-3">Client Master</div>
                                </div>
                                <p class="mb-0"><a href="/ClientCompany/Index" class="link-1">Click here to add single or bulk of Client Company to the database</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">

                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="avatar">
                                            <span class="avatar-title bg-primary-bright text-primary rounded-pill">
                                                <i class="fa fa-users"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="font-weight-bold ml-1 font-size-20 ml-3">Producer Master</div>
                                </div>
                                <p class="mb-0"><a href="/Admin/ProducerMaster" class="link-1">Click here to add single or bulk of Producer's to the database</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">

                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="avatar">
                                            <span class="avatar-title bg-primary-bright text-primary rounded-pill">
                                                <i class="fa  fa-user-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="font-weight-bold ml-1 font-size-20 ml-3">Employee Master</div>
                                </div>
                                <p class="mb-0"><a href="/Admin/EmployeeMaster" class="link-1">Click here to add single or bulk of Employee's to the database</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">

                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="avatar">
                                            <span class="avatar-title bg-primary-bright text-primary rounded-pill">
                                                <i class="ti-cloud"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="font-weight-bold ml-1 font-size-20 ml-3">RI Master</div>
                                </div>
                                <p class="mb-0"><a href="/RIMaster/Index" class="link-1">Click here to add single or bulk of RI's to the database</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">

                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="avatar">
                                            <span class="avatar-title bg-primary-bright text-primary rounded-pill">
                                                <i class="fa fa-hospital-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="font-weight-bold ml-1 font-size-20 ml-3">Medical Provider Master</div>
                                </div>
                                <p class="mb-0"><a href="/MedicalProviderMaster/Index" class="link-1">Click here to add single or bulk of Medical Provider's to the database</a></p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">

                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="avatar">
                                            <span class="avatar-title bg-primary-bright text-primary rounded-pill">
                                                <i class="fa fa-code"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="font-weight-bold ml-1 font-size-20 ml-3">ICD, Drug CPD Code</div>
                                </div>
                                <p class="mb-0"><a href="/Drug/Index" class="link-1">Click here to add single or bulk of ICD, Drug CPD Code to the database</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">

                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="avatar">
                                            <span class="avatar-title bg-primary-bright text-primary rounded-pill">
                                                <i class="fa  fa-star-o"></i>
                                            </span>
                                        </div>
                                        
                                    </div>
                                    <div class="font-weight-bold ml-1 font-size-20 ml-3">Benefit Master</div>
                                </div>
                                <p class="mb-0"><a href="/BenefitMaster/Index" class="link-1">Click here to add single or bulk of Benefit's to the database</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 d-none">
                        <div class="card">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="/Admin/ProducerMaster" class="btn btn-default-custom btn-lg btn-block">Producer Master</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="/ClientCompany/Index" class="btn btn-default-custom btn-lg btn-block">Client Master</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="Broker/Index" class="btn btn-default-custom btn-lg btn-block">Insurance Policy Master</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 d-none">
                        <div class="card">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="/Admin/EmployeeMaster" class="btn btn-default-custom btn-lg btn-block">Employee Master</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="InsuranceCompany/Index" class="btn btn-default-custom btn-lg btn-block">Hospital Master</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="ClientCompany/Index" class="btn btn-default-custom btn-lg btn-block">ICD Code Master</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
