
<div class="row">
    <div class="col-md-12">
        <!-- Step wizard -->
        <div class="box box-default">
            <!-- /.box-header -->
            <div class="box-body wizard-content">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                           
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="/Admin/ProducerMaster" class="btn btn-default-custom btn-lg btn-block">Producer Master</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="/ClientCompany/Index" class="btn btn-default-custom btn-lg btn-block">Client Master</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="Broker/Index" class="btn btn-default-custom btn-lg btn-block">Insurance Policy Master</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="Agent/Index" class="btn btn-default-custom btn-lg btn-block">Employee Master</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="InsuranceCompany/Index" class="btn btn-default-custom btn-lg btn-block">Hospital Master</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="ClientCompany/Index" class="btn btn-default-custom btn-lg btn-block">ICD Code Master</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
