
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-text card-header-warning">
                <div class="card-text">
                    <h4 class="card-title">Underwriting</h4>
                    <p class="card-category">Create Insurance Company, Client, Broker and Agent Register.</p>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="InsuranceCompany/Index" class="btn btn-default-custom btn-lg btn-block">Insurance Company Master</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="ClientCompany/Index" class="btn btn-default-custom btn-lg btn-block">Client Master</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="Broker/Index" class="btn btn-default-custom btn-lg btn-block">Broker Master</a>
                    </div>
                </div><div class="row">
                    <div class="col-md-12">
                        <a href="Agent/Index" class="btn btn-default-custom btn-lg btn-block">Agent Master</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-text card-header-rose">
                <div class="card-text">
                    <h4 class="card-title">Claims</h4>
                    <p class="card-category">Create Hospital / Clinics, Laboratory,Drugs and Diagnostics.</p>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="Lab/Index" class="btn btn-default-custom btn-lg btn-block">Laboratory Master</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="Hospital/Index" class="btn btn-default-custom btn-lg btn-block">Clinic / Hospital Master</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="Drug/Index" class="btn btn-default-custom btn-lg btn-block">Drug Master</a>
                    </div>
                </div><div class="row">
                    <div class="col-md-12">
                        <a href="Diagnostics/Index" class="btn btn-default-custom btn-lg btn-block">Diagnostics Master</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

