
@{
    ViewBag.Title = "IPTreatment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-t-30">
    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title lh40"><strong>In-Patient Details</strong></h4>
            <div class="box-controls pull-right">
                <a class="btn btn-primary"  href="/Claims/AddPatient"><i class="mdi mdi-account-plus mx-2"></i>New Patient</a>
            </div>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                    <thead>
                        <tr>
                            <th>Patient ID</th>
                            <th>Date Check-In</th>
                            <th>Patient Name</th>
                            <th>Doctor Assigned</th>
                            <th>Disease</th>
                            <th>Status</th>
                            <th>Room No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h6 class="table-avatar"><a>#P-0054</a></h6>
                            </td>
                            <td>14 Nov 2019 <span class="text-info">10.00 AM</span></td>
                            <td>
                                <h6><a>Ashwin</a></h6>
                            </td>
                            <td>
                                <h6><a>Dr. Olivia Jean</a></h6>
                            </td>
                            <td>Diabetes</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-sm" name="button">New Patient</button>
                            </td>
                            <td>B-1245</td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="table-avatar"><a>#P-0056</a></h6>
                            </td>
                            <td>14 Nov 2021 <span class="text-info">10.00 AM</span></td>
                            <td>
                                <h6><a>Mahesh</a></h6>
                            </td>
                            <td>
                                <h6><a>Dr. Jean</a></h6>
                            </td>
                            <td>Cold / Flu</td>
                            <td>
                                <button type="button" class="btn btn-outline-danger btn-sm" name="button">In Treatment</button>
                            </td>
                            <td>B-1244</td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="table-avatar"><a>#P-0051</a></h6>
                            </td>
                            <td>14 Nov 2021 <span class="text-info">12.00 AM</span></td>
                            <td>
                                <h6><a>Jegan</a></h6>
                            </td>
                            <td>
                                <h6><a>Dr. Mark</a></h6>
                            </td>
                            <td>Diabetes</td>
                            <td>
                                <button type="button" class="btn btn-outline-danger btn-sm" name="button">In Treatment</button>
                            </td>
                            <td>B-1246</td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="table-avatar"><a>#P-0057</a></h6>
                            </td>
                            <td>14 Nov 2021 <span class="text-info">8.00 AM</span></td>
                            <td>
                                <h6><a>Jagdesh</a></h6>
                            </td>
                            <td>
                                <h6><a>Dr. Olivia Jean</a></h6>
                            </td>
                            <td>Diabetes</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-sm" name="button">New Patient</button>
                            </td>
                            <td>B-1248</td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="table-avatar"><a>#P-0059</a></h6>
                            </td>
                            <td>14 Nov 2019 <span class="text-info">10.00 AM</span></td>
                            <td>
                                <h6><a>Ashwin</a></h6>
                            </td>
                            <td>
                                <h6><a>Dr. Olivia Jean</a></h6>
                            </td>
                            <td>Diabetes</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-sm" name="button">New Patient</button>
                            </td>
                            <td>B-1259</td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="table-avatar"><a>#P-0061</a></h6>
                            </td>
                            <td>12 Jan 2021 <span class="text-info">10.00 AM</span></td>
                            <td>
                                <h6><a>Ashwin</a></h6>
                            </td>
                            <td>
                                <h6><a>Dr. Olivia Jean</a></h6>
                            </td>
                            <td>Fever</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-sm" name="button">New Patient</button>
                            </td>
                            <td>B-1261</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



