
@{
    ViewBag.Title = "UnderwritingDashboard";
}

<div id="divDashboard">
    <div class="row">
        <div class="col-xl-6 col-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="box bg-info">
                        <div class="box-header with-border">
                            <h4 class="box-title text-white">No of policies</h4>

                        </div>
                        <div class="box-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h2 class="mt-0">140</h2>
                                    <small>Total Policies for year 2020</small>
                                </div>
                                <div class="font-size-50 text-white"><i class="mdi mdi-wheelchair-accessibility"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="box bg-warning">
                        <div class="box-header with-border">
                            <h4 class="box-title text-white">Quotation Drafted</h4>
                        </div>
                        <div class="box-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h2 class="mt-0">25</h2>
                                    <small>Total Policies Drafted for year 2020</small>
                                </div>
                                <div class="font-size-50 text-white"><i class="mdi mdi-account"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="box bg-success">
                        <div class="box-header with-border">
                            <h4 class="box-title text-white">Policy Issued</h4>
                        </div>
                        <div class="box-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h2 class="mt-0">15</h2>
                                    <small>Total Policies Issued for year 2020</small>
                                </div>
                                <div class="font-size-50 text-white"><i class="mdi mdi-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="box bg-danger">
                        <div class="box-header with-border">
                            <h4 class="box-title text-white">Policy Lost</h4>
                        </div>
                        <div class="box-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h2 class="mt-0">50</h2>
                                    <small>Total Policies Lost for year 2020</small>
                                </div>
                                <div class="font-size-50 text-white"><i class="mdi mdi-wallet"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="box">
                        <div class="box-header">
                            <h4 class="box-title">Revenue Report</h4>
                        </div>
                        <div class="box-body">
                            <div class="flexbox align-items-center justify-content-between d-md-flex d-block">
                                <div>
                                    <h4 class="font-weight-700 text-success">OMR32,749,448</h4>
                                    <h6 class="text-fade">Premium Earned</h6>
                                </div>
                                <div>
                                    <h4 class="font-weight-700 text-warning">OMR41,832,964&nbsp;</h4>
                                    <h6 class="text-fade">Pending Premium</h6>
                                </div>
                                <div>
                                    <h4 class="font-weight-700 text-danger">OMR125,498,894</h4>
                                    <h6 class="text-fade">Premium Lost</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Premium Overview</h4>
                </div>
                <div class="box-body">
                    <div id="uni-attendance"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Policy Details</h4>
                </div>
                <div class="box-body">
                    <div id="uni-earning"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Producer's Chart</h4>
                </div>
                <div class="box-body">
                    <div id="flotPie2" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Product Overview</h4>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table product-overview">
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Order ID</th>
                                    <th>Property</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Minol Jov</td>
                                    <td>#8457125</td>
                                    <td>Shop</td>
                                    <td>Sold</td>
                                    <td>10-7-2019</td>
                                    <td> <span class="label label-success">Paid</span> </td>
                                    <td><a href="javascript:void(0)" class="text-dark pr-10" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="text-dark" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Adem Kalp</td>
                                    <td>#96523154</td>
                                    <td>Shop</td>
                                    <td>On Rent</td>
                                    <td>09-7-2019</td>
                                    <td> <span class="label label-warning">Pending</span> </td>
                                    <td><a href="javascript:void(0)" class="text-dark pr-10" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="text-dark" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Mical Don</td>
                                    <td>#95487512</td>
                                    <td>Dupelx</td>
                                    <td>On Rent</td>
                                    <td>08-7-2019</td>
                                    <td> <span class="label label-success">Paid</span> </td>
                                    <td><a href="javascript:void(0)" class="text-dark pr-10" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="text-dark" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Johen Doe</td>
                                    <td>#75485426</td>
                                    <td>Shop</td>
                                    <td>Sold</td>
                                    <td>02-7-2019</td>
                                    <td> <span class="label label-danger">Failed</span> </td>
                                    <td><a href="javascript:void(0)" class="text-dark pr-10" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="text-dark" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Minol Jov</td>
                                    <td>#8457125</td>
                                    <td>Shop</td>
                                    <td>Sold</td>
                                    <td>10-7-2019</td>
                                    <td> <span class="label label-success">Paid</span> </td>
                                    <td><a href="javascript:void(0)" class="text-dark pr-10" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="text-dark" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>