
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/Admin/UnderwritingDashboard"><i class="ti-more"></i>Underwriting Dashboard</a></li>
            <li><a href="/Admin/MISDashboard"><i class="ti-more"></i>Claims Dashboard</a></li>
        </ul>
    </div>
</body>
</html>
